registry=https://registry.npmmirror.com
disturl=https://npmmirror.com/dist
chromedriver-cdnurl=https://npmmirror.com/mirrors/chromedriver
couchbase-binary-host-mirror=https://npmmirror.com/mirrors
debug-binary-host-mirror=https://npmmirror.com/mirrors
electron-mirror=https://npmmirror.com/mirrors/electron/
flow-bin-binary-host-mirror=https://npmmirror.com/mirrors
fse-binary-host-mirror=https://npmmirror.com/mirrors
git4win-mirror=https://npmmirror.com/mirrors
gl-binary-host-mirror=https://npmmirror.com/mirrors
grpc-node-binary-host-mirror=https://npmmirror.com/mirrors
hiredis-binary-host-mirror=https://npmmirror.com/mirrors
level-binary-host-mirror=https://npmmirror.com/mirrors
node-sqlite3-binary-host-mirror=https://npmmirror.com/mirrors
node-sass-binary-host-mirror=https://npmmirror.com/mirrors
npmf-binary-host-mirror=https://npmmirror.com/mirrors
operadriver-binary-host-mirror=https://npmmirror.com/mirrors
phantomjs-cdnurl=https://npmmirror.com/mirrors/phantomjs
profiler-binary-host-mirror=https://npmmirror.com/mirrors
puppeteer-download-host=https://npmmirror.com/mirrors
python-binary-host-mirror=https://npmmirror.com/mirrors
sass-binary-site=https://npmmirror.com/mirrors/node-sass
sodium-prebuilt-mirror=https://npmmirror.com/mirrors
sqlite3-binary-site=https://npmmirror.com/mirrors/sqlite3
sharp-libvips-binary-host=https://npmmirror.com/mirrors
sharp-binary-host=https://npmmirror.com/mirrors
electron-builder-binary-host-mirror=https://npmmirror.com/mirrors
